body{
    background: linear-gradient(135deg, #1e1e2f, #343a40, #000000)  !important;
}

h1{
    text-align: center;
}

@media (max-width: 600px) {
    .row {
        width: 100% !important;
        margin-left: auto;
        margin-right: auto;
    }
    #back-Page {
        width: 80vw !important;
        margin-left: auto;
        margin-right: auto;
    }
}
#delete-all{
    background-color: red;
    color: white;
    font-weight: bold;
    border: 2px solid #dc3545;
    border-radius: 0.25rem;
    float: right;
}
#delete-all:hover{
    background-color: rgb(146, 0, 0);
    color: white;
    border-color: rgb(146, 0, 0);
}

.temizle{
    color: white;
}
.temizle:hover{
    color: red;
}

#text-input{
    background-color: white;
    border: none;
    color: white;
    outline: none;
    border-radius: 3rem;
}

.row{
    margin: 0 !important;
    background-color: #272727;
    border:4px solid #272727;
    height: 3rem;
    width: 100%;
    border-radius: 2rem;
    color: white;
}

#add-to-do{
    border: none;
    background-color: gold;
    border-radius: 3rem;
    font-weight: bold;
    color: #343a40;
}
#add-to-do:hover{
    background-color: yellowgreen;
    color: #343a40;
}

#back-Page{
    background-color: #343a40;;
    border:4px solid gold;
    width: 60vw;
    min-height: 3rem;
    border-radius: 2rem;
    margin: 0 auto;
}

ul{
    list-style-type: none;
    color: wheat;
}

ul li{
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

input[type="checkbox"]{
    accent-color: gold;
    margin-right: 3px;
}

input[type="checkbox"]:checked + label {
    left: 3px;
    color: red;
    text-decoration: line-through;
}

.bi-trash3{
    color: wheat;
    margin-left: auto;
    margin-right: 20px;
}
.bi-trash3:hover{
    color:red;
}